*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-boar{
    width: 30%;
    height: 300px;
    border: 1px solid black;
    position: relative;
    /*overflow: hidden;*/
    /*background-image: url('./images/background.jpg');
    background-size: cover;*/
}
/*.star{
    width: 100%;
    height: 100%;
    position: absolute;

    animation: estrelar 10s infinite linear;
}*/
@keyframes estrelar {
    from{
        top: -80px;
    }
    to{
        top: 300px;
    }
}
.nave{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    /*transform: rotate3d(1, 1, 0, 50deg);*/
    
}


.inimigos{
    animation: enemies 4s forwards linear;
}